{% extends 'base.html' %}
{% block title %}
{% if product %}
Редактировать карточку
{% else %}
Добавить новую услугу
{% endif %}
{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="col">
        {% if product %}
        <h1 class="mb-4">Редактировать карточку</h1>
        <form method="post" enctype="multipart/form-data" action="{% url 'products:product_edit' product.pk %}">
            {% else %}
            <h1 class="mb-4">Добавить новую услугу</h1>
            <form method="post" enctype="multipart/form-data" action="{% url 'products:new_product' %}">
                {% endif %}
                {% csrf_token %}
                {% load user_filters %}
                {% for field in form %}

                <div class="form-floating mb-3">
                    {{ field|addclass:"form-control"}}
                    <label for="{{ field.label }}">{{ field.label }}</label>
                </div>

                {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{ field.label }}: {{ error|escape }}
                </div>
                {% endfor %}
                
                {% endfor %}
                <button type="submit" class="btn btn-primary">
                    {% if product %}
                    Редактировать
                    {% else %}
                    Добавить
                    {% endif %}
                </button>
            </form>
    </div>
</div>
{% endblock %}
