{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
    <div class="container py-5">
        <div class="col">
            <h1>{{ text }}</h1>
            <a class="btn btn-primary" href="{% url 'products:new_product' %}" role="button">Добавить услугу</a>
            <table class="table is-fullwidth table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Наименование</th>
                        <th scope="col">Цена, руб</th>
                        <th scope="col">Описание</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <th scope="row">{{ product.pk }}</th>
                        <td>{{ product.name_product }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
