{% load static %}
<header>
    <nav class="navbar navbar-light" style="background-color: lightskyblue">
        <div class="container">
            <a class="navbar-brand" href="{% url 'core:index' %}">
                {% comment %} <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt=""> {% endcomment %}
                Первая<span style="color:#ff914d">CRM</span></a>
            </a>
            <ul class="nav nav-pills">
                {% with request.resolver_match.view_name as view_name %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if view_name  == 'core:index' %}active{% endif %}"
                        href="{% url 'core:index' %}">
                        Главная
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if view_name in 'customers:customers_list, customers:customers_detail, customers:customer_edit' %}active{% endif %}"
                        href="{% url 'customers:customers_list' %}">
                        Клиенты
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if view_name in 'orders:orders_list, orders:order_edit' %}active{% endif %}"
                        href="{% url 'orders:orders_list' %}">
                        Заказы
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if view_name in 'products:products_list, products:product_edit' %}active{% endif %}"
                        href="{% url 'products:products_list' %}">
                        Услуги
                    </a>
                </li>
                <li class="nav-item nav-link">
                    Пользователь: {{ user.username }}
                <li>
                <li class="nav-item"> 
                    <a class="nav-link link-light {% if view_name  == 'users:logout' %}active{% endif %}"
                        href="{% url 'users:logout' %}">
                        Выйти
                    </a>
                </li>
                {% endif %}
                {% if user.is_authenticated == False %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if view_name  == 'about:author' or view_name  == 'about:tech' %}active{% endif %}" 
                       href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      О проекте
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="{% url 'about:author' %}">Об авторе</a></li>
                      <li><a class="dropdown-item" href="{% url 'about:tech' %}">Технологии</a></li>
                    </ul>
                </li>
                {% endif %}
                {% endwith %} 
            </ul>
        </div>
    </nav>
</header>